/* css/styles.css */
:root {
    --primary-color: #00395f;
    --background-color: #99bee2;
    --text-color: #333;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
  background-image: url('/assets/IMG_0049.jpg'); /* Replace with your image */
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.hero-content {
  text-align: center;
}
